<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <%-include('header')%>
  </head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <body>
    <%-include('../appBar')%>

    <div class="container">
    	<br>
    	<div class="row">
    	  <div class="col-sm-6">
    	    <div class="card">
    	      <div class="card-body">
    	        <h5 class="card-title">Add from Excel</h5>
    	        <p class="card-text">Add question from excel sheet</p>
    	        <a href="/addQuestions/addExcel" class="btn btn-primary">Add( from excel )</a>
              &nbsp
              <a href="https://firebasestorage.googleapis.com/v0/b/testination-e6442.appspot.com/o/testinationQuestionAddByExcel.xlsx?alt=media&token=2c9d8b6b-10ad-486c-b1c4-c7804d854b09" class="btn btn-info">Download Demo Excel</a>
    	      </div>
    	    </div>
    	  </div>
    	  <!-- <div class="col-sm-6">
    	    <div class="card">
    	      <div class="card-body">
    	        <h5 class="card-title">Add Questions directily</h5>
    	        <p class="card-text">Add questions by entering question into website</p>
    	        <a href="/addQuestions/directly" class="btn btn-primary">Edit</a>
    	      </div>
    	    </div>
    	  </div> -->
    	</div>

    </div
  </body>
</html>
