<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <%-include('header')%>
  </head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <body>
    <%-include('../appBar')%>
    <div class="container">
    	<br>
    	<div class="row">
        <%categories=data['openRoom']['categories']%>
        <%for(var i in categories){%>
  <div class=" col-md-4 col-6">
    <div class="card bg-light mb-3" style="max-width: 18rem; min-height:50px; text-align:center;">
      <a href="/editQuestions/<%=categories[i]%>">
        <%=categories[i]%>
      </a>

  </div>
</div>

        <%}%>



    	</div>

    </div
  </body>
</html>
